#mgbcharmemory_settings {
    display: flex;
    flex-direction: column;
}

#mgbcharmemory_settings textarea {
    font-size: calc(var(--mainFontSize) * 0.9);
    line-height: 1.2;
}

label[for="mgbcharmemory_frozen"],
label[for="mgbcharmemory_skipWIAN"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

label[for="mgbcharmemory_frozen"] input {
    margin-right: 10px;
}

.mgbcharmemory_contents_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mgbcharmemory_disabled_hint {
    margin-left: 2px;
}

#mgbcharsummarySettingsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
