#mgbchartasklist_settings {
    display: flex;
    flex-direction: column;
}

#mgbchartasklist_settings textarea {
    font-size: calc(var(--mainFontSize) * 0.9);
    line-height: 1.2;
}

label[for="mgbchartasklist_frozen"],
label[for="mgbchartasklist_skipWIAN"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

label[for="mgbchartasklist_frozen"] input {
    margin-right: 10px;
}

.mgbchartasklist_contents_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mgbchartasklist_disabled_hint {
    margin-left: 2px;
}

#mgbcharstaskslistedSettingsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
